[**/build/generated/**]
ktlint = disabled

[**/build/buildkonfig/**]
ktlint = disabled

[**/_Template**]
ktlint = disabled

[*.{kt,kts}]

max_line_length = 140
indent_style = space
indent_size = 4

insert_final_newline = true
trim_trailing_whitespace = true

ij_kotlin_allow_trailing_comma = true
ij_kotlin_allow_trailing_comma_on_call_site = true

continuation_indent_size = 4

ktlint_code_style = android_studio
ktlint_standard_import-ordering = disabled
ktlint_standard_function-signature = disabled
ktlint_standard_context-receiver-wrapping = disabled
ktlint_standard_multiline-expression-wrapping = disabled
ktlint_standard_no-empty-first-line-in-class-body = disabled
ktlint_standard_no-blank-line-in-list = disabled
ktlint_standard_blank-line-before-declaration = disabled
ktlint_standard_annotation = disabled
ktlint_function_naming_ignore_when_annotated_with = Composable
