// Based on https://www.kodeco.com/21441177-building-your-app-using-build-configurations-and-xcconfig#toc-anchor-003

KMP_BUILD_FLAVOR = dev
KMP_FRAMEWORK_BUILD_TYPE = debug
// Dynamic framework is required to enable SwiftUI previews in Xcode.
// Static linking prevents the preview process from loading the KMP framework.
KMP_IS_STATIC = false
